

.desktop {
  width               : 100%;
  min-width           : 1024px;
  height              : 100vh;
  min-height          : 1024px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.desktop .rectangle {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 278px;
  height              : 304px;
  box-sizing          : border-box;
  width               : 261px;
  position            : absolute;
  margin              : 0;
  left                : 178px;
  border-radius       : 8px;
  border-style        : solid;
  border-width        : 3px;
  border-color        : rgba(40, 84, 186, 0.67);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .rectangle1 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 330px;
  height              : 63px;
  box-sizing          : border-box;
  width               : 197px;
  position            : absolute;
  margin              : 0;
  left                : 210px;
  border-radius       : 8px;
  border-style        : solid;
  border-width        : 3px;
  border-color        : rgba(206, 87, 87, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  text-align: center;
  font-family: sans-serif;
  padding: 20px;
}
.desktop .rectangle2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 330px;
  height              : 63px;
  box-sizing          : border-box;
  width               : 197px;
  position            : absolute;
  margin              : 0;
  left                : 575px;
  border-radius       : 8px;
  border-style        : solid;
  border-width        : 3px;
  border-color        : rgba(40, 84, 186, 0.67);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  text-align: center;
  font-family: sans-serif;
  padding: 20px;
}
.desktop .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 278px;
  height              : 304px;
  box-sizing          : border-box;
  width               : 261px;
  position            : absolute;
  margin              : 0;
  left                : 543px;
  border-radius       : 8px;
  border-style        : solid;
  border-width        : 3px;
  border-color        : rgba(205, 87, 87, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .newgame {
  background-color    : rgba(255,255,255,0.0);
  top                 : 203px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 442px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AmericanTypewriter-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 25.0px;
}
.desktop .player1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 244px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 253px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AmericanTypewriter", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 23.0px;
}
.desktop .targetscore {
  background-color    : rgba(255,255,255,0.0);
  top                 : 662px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 439px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AmericanTypewriter", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 23.0px;
}

.desktop .overallscore {
  background-color    : rgba(255,255,255,0.0);
  top                 : 22px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AmericanTypewriter", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.desktop .currentscore {
  background-color    : rgba(255,255,255,0.0);
  top                 : 516px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 240px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AmericanTypewriter", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.desktop .currentscore1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 516px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 586px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AmericanTypewriter", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.desktop .overallscore1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 302px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 601px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AmericanTypewriter", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.desktop .player2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 244px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 634px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AmericanTypewriter", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 23.0px;
}
.desktop .hold {
  background-color    : rgba(255,255,255,0.0);
  top                 : 599px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 473px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AmericanTypewriter", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 23.0px;
}
.desktop .roll {
  background-color    : rgba(255,255,255,0.0);
  top                 : 559px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 480px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AmericanTypewriter", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.desktop .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 249px;
  height              : 13px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 333px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .oval1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 245px;
  height              : 13px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 715px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktop .image1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 330px;
  height              : 63px;
  width               : 63px;
  position            : absolute;
  margin              : 0;
  left                : 455px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}